<div class="firstDiv"> 
    <div class="futureForm"> 
        <ul>
            <li>Приоритет:</li>
            <li>Текст задачи:</li> 
        </ul>
        <dx-select-box [items]="statuses" placeholder="Выберите..." class="selectBox" [value]="statuses[0]" (onValueChanged)="onValueChanged($event)"></dx-select-box>
        <dx-text-box [(value)]="description" placeholder="Введите текст задачи" class="inputForTaskDescription">
            <dx-validator
                [validationRules]="[{
                    type: 'required',
                    message: 'Описание задачи не может быть пустым' }]">
            </dx-validator>
        </dx-text-box>
        <dx-button [useSubmitBehavior]="true" (onClick)="addNewTask($event)" class="mainGreenButton" text="Добавить..."></dx-button>
    </div> 
</div>