<div class="thirdDiv">
    <div class="tasksList">
        <div class="Task" *ngFor="let task of arrayOfTasks">
            <div class="priorityOfTask">
                <span>{{task.priority}}</span>
            </div>
            <div class="mainField">
                <div>
                    <div class="taskInformation">
                        <div class="filedOfInformation">
                            <span>{{task.description}}</span>
                        </div>
                    </div>
                    <div class="statusButtons">
                        <div class="firstStatusButton">
                            <object type="image/svg+xml" data="./assets/krestik.svg" width="25"></object>
                        </div>
                        <div class="secondStatusButton">
                            <object type="image/svg+xml" data="./assets/galochka.svg" width="25"></object>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fieldOfDate">
                        <span></span>
                    </div>
                    <div class="placeForChanges">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="deleteButton">
                <object type="image/svg+xml" data="./assets/musorka.svg" width="40"></object>
            </div>
        </div>
    </div>
</div>