<div class="secondDiv"> 
    <div class="objectsFromSecondDiv">

        <div class="leftPart">
            <div class="topLine">

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 0, '1')" 
                    text="Активная">
                </dx-check-box>

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 1, '3')" 
                    text="Отмененная">
                </dx-check-box>

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 2, '2')" 
                    text="Завершенная">
                </dx-check-box>

            </div>

            <div class="bottomLine">

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 3, 'Низкий')" 
                    text="Низкий">
                </dx-check-box>

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 4, 'Средний')" 
                    text="Средний">
                </dx-check-box>

                <dx-check-box 
                    [value]="true"  
                    class="someCheck" 
                    (onValueChanged)="checkValue($event, 5, 'Высокий')" 
                    text="Высокий">
                </dx-check-box>

            </div>
        </div>

        <div class="rightPart">
            <span class="theOldLable">Сортировка по дате:</span> 
            <dx-button
                [text]="buttonDescription" 
                class="buttonForFilter" 
                (onClick)="sortByDate()">
            </dx-button>
        </div>

    </div>
</div>