<div class="secondDiv"> 
    <div class="objectsFromSecondDiv">
        <label for="someCheck0" class="filterText">Отмененная</label><input type="checkbox" name="someCheck0" checked class="someCheck0" id="zeroCheckBox" onclick="ckeckOfCkeckBoxes()">
        <label for="someCheck1" class="filterText">Завершенная</label><input type="checkbox" name="someCheck1" checked class="someCheck1" id="firstCheckBox" onclick="ckeckOfCkeckBoxes()">
        <label for="someCheck2" class="filterText">Низкий</label><input type="checkbox" name="someCheck2" checked  class="someCheck2" id="secondCheckBox" onclick="ckeckOfCkeckBoxes()">
        <label for="someCheck3" class="filterText">Средний</label><input type="checkbox" name="someCheck3" checked  class="someCheck3" id="thirdCheckBox" onclick="ckeckOfCkeckBoxes()">
        <label for="someCheck4" class="filterText">Высокий</label><input type="checkbox" name="someCheck4" checked  class="someCheck4" id="fourthCheckBox"onclick="ckeckOfCkeckBoxes()">
        <label id="labelFDate" for="firstButton">Сортировка по дате:</label> 
        <input type="button" name="firstButton" class="buttonForFilter" onclick="sortByDate()" value="По убыванию">
    </div>
</div>