.second-div{
    margin: 10px auto;
    background: #e4e4e4;
    width: 900px;
    border-radius: 2px;
    padding: 0 20px;
    height: 70px;

    .objects-from-second-div {
        padding: 10px 0;
        display: flex;
        align-items: center;

        .some-check {
            margin-right: 10px;
            width: 114px;
        }

        .right-part {
            width: calc(100% - 372px);
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .button-for-filter:hover {
                background: #ffd;
            }
            
            .button-for-filter:active  {
                background: #ff5;
            }
            
            .button-for-filter {
                margin-left: 20px;
                width: 150px;
                background: #fff;
                border: none;
                border-radius: 2px;
                text-align: left;
                text-align: center;
                cursor: pointer;
                transition: 0.2s; /*Плавное нажатие*/
                display: inline-block;
            }

            ::ng-deep .dx-button-content {
                padding: 2px 0 !important;
                border: none !important;
                border-radius: 3px !important;
            }
        }
    }
}