.secondDiv{
    margin: 10px auto;
    background: #e4e4e4;
    width: 900px;
    border-radius: 2px;
    padding: 0 20px;
    height: 70px;
}

.objectsFromSecondDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.filterText {
    color: #909090;
}

.someCheck {
    margin-right: 10px;
}

label[for=firstButton] {
    margin: 0 15px 0 110px;
    width: 140px;
}

.buttonForFilter:hover {
    background: #ffd;
}

.buttonForFilter:active  {
    background: #ff5;
}

.buttonForFilter {
    width: 150px;
    background: #fff;
    border: none;
    border-radius: 2px;
    text-align: left;
    text-align: center;
    cursor: pointer;
    transition: 0.2s; /*Плавное нажатие*/
    display: inline-block;
}